<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">
    <coverage>
        <include>
            <file>./src/DeflateWriter.php</file>
            <file>./src/Index.php</file>
            <file>./src/PlainFileWriter.php</file>
            <file>./src/Sitemap.php</file>
            <file>./src/TempFileGZIPWriter.php</file>
            <file>./src/UrlEncoderTrait.php</file>
            <file>./src/WriterInterface.php</file>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Sitemap test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
